<footer>
    <link rel="stylesheet" href="/css/styles.css">
    <footer class="bg-light text-center py-4 mt-5">
    <h5>CST336 Internet Programming. 2025© Raj, Saavedra, Placencia, Ruxton</h5>
    <img src="images/otterLogo.jpg" width="100" alt="Otter Logo">
</footer>
