<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet-ly</title>
</head>
<body>
    <h1>Testing</h1>
    <h2>Animal</h2>
    <h3>Animal Name: <%= animal.name %></h3>
</body>
</html>