<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/navbar'); %>

  <div class="container">
    <h2>Create Admin Account</h2>
    <% if (typeof error !== 'undefined') { %>
      <p style="color:red"><%= error %></p>
    <% } %>
    <form action="/signup" method="POST">
      <label>Username:</label><br>
      <input type="text" name="username" required><br>

      <label>Password:</label><br>
      <input type="password" name="password" required><br>

      <label>Phone Number:</label><br>
      <input type="text" name="phone" required><br><br>

      <input type="submit" value="Sign Up">
    </form>
  </div>

  <%- include('partials/footer'); %>
</body>
</html>
